@tailwind base;
@tailwind components;
@tailwind utilities;

/* Adicione isso para remover a barra de rolagem feia do menu */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
